<a href="https://colab.research.google.com/github/AlanisDirecto/Activities/blob/main/Module_19_Activity.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Alanis Directo

In [1]:
import pandas as pd

In [2]:
from google.colab import drive

drive.mount('/content/drive')

Mounted at /content/drive

In [3]:

df = pd.read_csv('https://raw.githubusercontent.com/mGalarnyk/Tutorial_Data/master/Pandas/CalIt2.data')

In [4]:
df = pd.read_csv('https://raw.githubusercontent.com/mGalarnyk/Tutorial_Data/master/Pandas/CalIt2.data', header = None)

In [5]:
filename = '/content/CalIt2.csv'

df = pd.read_csv(filename)

df.head()

   7  07/24/05  00:00:00  0
0  9  07/24/05  00:00:00  0
1  7  07/24/05  00:30:00  1
2  9  07/24/05  00:30:00  0
3  7  07/24/05  01:00:00  0
4  9  07/24/05  01:00:00  0

In [6]:
df.describe().round(2)

             7         0
count  10079.0  10079.00
mean       8.0      3.81
std        1.0      6.44
min        7.0      0.00
25%        7.0      0.00
50%        9.0      0.00
75%        9.0      5.00
max        9.0     62.00

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10079 entries, 0 to 10078
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   7         10079 non-null  int64
 1   07/24/05  10079 non-null  object
 2   00:00:00  10079 non-null  object
 3   0         10079 non-null  int64
dtypes: int64(2), object(2)
memory usage: 315.1+ KB

In [8]:
df.head()

   7  07/24/05  00:00:00  0
0  9  07/24/05  00:00:00  0
1  7  07/24/05  00:30:00  1
2  9  07/24/05  00:30:00  0
3  7  07/24/05  01:00:00  0
4  9  07/24/05  01:00:00  0

In [9]:
df.describe().round(3)

             7          0
count  10079.0  10079.000
mean       8.0      3.813
std        1.0      6.436
min        7.0      0.000
25%        7.0      0.000
50%        9.0      0.000
75%        9.0      5.000
max        9.0     62.000

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10079 entries, 0 to 10078
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   7         10079 non-null  int64
 1   07/24/05  10079 non-null  object
 2   00:00:00  10079 non-null  object
 3   0         10079 non-null  int64
dtypes: int64(2), object(2)
memory usage: 315.1+ KB

In [12]:
df.describe().round(4)

                7           0
count  10079.0000  10079.0000
mean       8.0001      3.8133
std        1.0000      6.4360
min        7.0000      0.0000
25%        7.0000      0.0000
50%        9.0000      0.0000
75%        9.0000      5.0000
max        9.0000     62.0000

In [13]:
df.head()

   7  07/24/05  00:00:00  0
0  9  07/24/05  00:00:00  0
1  7  07/24/05  00:30:00  1
2  9  07/24/05  00:30:00  0
3  7  07/24/05  01:00:00  0
4  9  07/24/05  01:00:00  0